<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Important Tasks</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="font-awesome.min.css" />
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
    <main>
        <form action="/barista" method="post">
            <div class="form-group">
                <input type="text" name="customerName" placeholder="Insert Name">
                <button type="button" name="button">Tall</button>
                <button type="button" name="button">Grande</button>
                <button type="button" name="button">Venti</button>
                <button type="button" name="submit">Submit</button>
                <div class="bodyCont">
                        <div class="listCont">
                            <section class="addItem">
        </form>      
							<a href ="/login"><button type="submit" class="submitBtn controlBtn">Login</button></a>
					
					</section>

					<div class="todoListCont">
						<ul class="todos todoList">

						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="main.js"></script>
    </main>
	</body>
</html>